<%= link_to 'Все тесты', admin_tests_path %><br>

<p>Добро пожаловать <%= current_user.first_name %> в <%= link_to 'Guru', root_path %> | <%= link_to 'Выйти', destroy_user_session_path, method: :delete %></p>
