<h1><%= t('.completed_test', title: @test_passage.test.title) %></h1>

<h2><%= raw t('.correct_percent', percent: result_percent_color(@test_passage.result_percent)) %></h2>

<% if @test_passage.test_passed?  %>
  <h2 style='color: green'><%= t('.test_passed') %></h2>
<% else %>
  <h2 style='color: red'><%= t('.test_flunked') %></h2>
<% end %>
