<li>
  <%= answer.body %><br>
  <%= link_to 'Посмотреть', answer_path(answer) %> |
  <%= link_to 'Редактировать', edit_answer_path(answer) %> |
  <%= link_to 'Удалить', answer_path(answer), method: :delete, data: { confirm: 'Вы уверены?' } %>
</li>
