<tr>
  <td><%= question.body %></td>
  <td><%= link_to 'Посмотреть', admin_question_path(question) %></td>
  <td><%= link_to 'Редактировать', edit_admin_question_path(question) %></td>
  <td><%= link_to 'Удалить', admin_question_path(question), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
