<tr>
  <td><h3><%= "Тест #{test.title}(#{test.questions.count})" %></h3></td>
  <td><%= link_to 'Посмотреть', test_path(test) %></td>
  <td><%= link_to 'Редактировать', edit_test_path(test) %></td>
  <td><%= link_to 'Удалить', test_path(test), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
