<footer>
  <p><%= current_year %> | Osman | <%= github_url('OnlyReFLeX', 'test-guru') %></p>
  <p><%= t('.info') %></p>
  <p><%= link_to t('.school_info'), 'http://thinknetica.com/', target: :_blank %></p>
</footer>
